html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  background-color: #6E6094;
  color: white;
}

a {
  color: lightblue;
}

a:hover {
  font-weight: 200;
  text-decoration: none;
  color: #c7c1d7;
  text-shadow: 1px 1px #231e2e;
}

#main-header {
  margin-bottom: 20px;
}

.thumbnail, .well {
  background: rgba(255, 255, 255, 0.4);
}

.left {
  float: left;
  width: 50%;
  margin-left: 10%;
}

.ad.thumbnail {
  width: 45%;
  float: left;
}

.ad.thumbnail:nth-child(odd) {
  margin-left: 2%;
  margin-right: 5%;
}

.ad.thumbnail img {
  width: 100%;
  margin-bottom: 10px;
}

.ad.thumbnail p span:first-child {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}

.info-field {
  font-weight: bold;
  font-style: italic;  
}

.ad.thumbnail .controls span {
  content: '';
  width: 25px;
  height: 25px;
  float: right;
}

.edit {
  background: url("../res/pencil.png") 0 2px no-repeat;
  background-size: 20px 20px;
  margin-right: 5px;
}

.delete {
  background: url("../res/delete.png") 0 -1px no-repeat;
  background-size: 25px 25px;
}

.ad.thumbnail .controls span:hover {
  cursor: pointer;
}

.manufacturer {
  background: url("../res/factory.png") 0 0 no-repeat;
  background-size: 20px 20px;
}

.fuel {
  background: url("../res/fuel.png") 0 0 no-repeat;
  background-size: 20px 20px;
}

.gearbox {
  background: url("../res/gears.png") 0 0 no-repeat;
  background-size: 20px 20px;
}

.manufactureDate {
  background: url("../res/calendar.png") 0 0 no-repeat;
  background-size: 20px 20px;
}

.mileage {
  background: url("../res/mileage.png") 0 0 no-repeat;
  background-size: 20px 20px;
}

.model {
  background: url("../res/car.png") 0 0 no-repeat;
  background-size: 20px 20px;
}

.power {
  background: url("../res/engine.png") 0 0 no-repeat;
  background-size: 20px 20px;
}

.price {
  background: url("../res/dollar.png") 0 0 no-repeat;
  background-size: 20px 20px;
}

#tread:before {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: url("../res/tire-tread.png") no-repeat;
  z-index: -1;
}

.welcome-message {
	text-align: right;
}

.login input, .register input {
	margin-bottom: 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  padding-top: 10px;
  width: 100%;
  height: 60px;
  background-color: #453C5B;
  font-style: italic;
}

#new-ad-form { 
  width: 50%;
  margin: 0 auto;
}

#currentAd {
  width: 40%;
}

#currentAd #month,
#currentAd #year {
  width: 35%;
  display: inline-block;
  float: right;
}

#new-ad-form #month,
#new-ad-form #year {
  width: 39%;
  display: inline-block;
}

#submitAdInfo-btn {
  margin-bottom: 20px;
}

#adsTable tbody tr:hover {
  cursor: pointer;
  background-color: lavender;
}

.ad-image {
  height: 320px;
  width: 418px;
}

.well {
  height: 450px;
}

#social-buttons {
  position: absolute;
  right: 0;
  margin-right: 10%;
  z-index: 5;
}

.tweet {
  /*display: inline;*/
  position: relative;
  top: 5px;
}

@media (min-width: 120px) and (max-width: 512px) {

  #month {
    margin-bottom: 10px;
  }

  #month, #year {
    width: 100%;
  }

  .ad.thumbnail p span:first-child {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    display: inline-block;
  }

  .ad.thumbnail p span:not(:first-child) {
    margin-left: 30px;
  }

  .info-field {
    display: none;
  }

  .ad.thumbnail img {
    width: 150px;
    height: 150px;
  }


}