<div class="home">
  <h1>Home</h1>

  <div class="content">
   
   {{#each .}}
    <div class="ad">
	    <p>
	    {{title}}
	    </br>
	    {{description}}
	    </p>
    </div>
    {{/each}}

  </div>
</div>