<div class="home">
  <h1>Home</h1>
  <nav>
    <a href="#/login/">Login</a>
    <a href="#/register/">Register</a>
  </nav>
  
  <div class="content">
   
   {{#each .}}
    <div class="ad">
	    <p>
	    {{title}}
	    </br>
	    {{description}}
	    </p>
    </div>
    {{/each}}

  </div>
</div>