<div class="welcome-message">
    {{#if username}}
        <p>Welcome, {{username}}!</p>
        <a href="#/profile/:id" id="profile">My Profile</a> | 
        <a href="#/logout" id="logout-btn">Logout</a>
    {{else}}
        <p>Welcome, Guest!</p>
        <a href="#/login/">Login</a> | 
        <a href="#/register/">Register</a>
    {{/if}}
</div>

<button id="addNewAd-btn">Create new ad</button>
<button id="showMyAds-btn">Show my ads</button>